<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8" />
    <meta name="viewport" content="with=device-width, initial-scale=1.0" />
    <title>Color change</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./PacmanLogin/login.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>

<body>
    <div class="myDiv">
        <!-- Set Background Images -->
        <div class="bg"></div>

        <!-- Draw bird, fish -->
        <canvas></canvas>
        
        <!-- Login form -->
        <div class="top">
            <div class="wrapper">
                <div id="app">
                    <transition name="fade" mode="out-in" appear="appear" v-cloak="v-cloak">
                        <form @submit="checkPassword" v-if="!logged_in"><label for="1up">1up</label><input ref="name"
                                id="1up" type="text" /><label for="password">Password</label>
                            <div class="scene-wrapper"><input @keyup.enter="runPacman" ref="password" id="password"
                                    type="password" v-model="password_entered" :class="{invalid : password_invalid}"
                                    :disabled="disableInput()" />
                                <transition :name="transitionPacman" v-on:after-enter="checkPassword">
                                    <div class="pac-wrapper" v-if="animate_pacman">
                                        <div class="pacman"></div>
                                    </div>
                                </transition>
                                <transition name="cover">
                                    <div class="input-cover" v-if="animate_pacman || animate_ghost"></div>
                                </transition>
                                <transition name="ghost" v-on:after-enter="resetAnimation">
                                    <div class="ghost-wrapper" v-if="animate_ghost">
                                        <div class="ghost" :class="{runaway : password_match}"></div>
                                    </div>
                                </transition>
                            </div><input @click="runPacman" ref="start" type="button" value="Press Start"
                                :disabled="disableInput()" />
                        </form>
                        <div class="logged-in" v-else="v-else">
                            <p>You are now logged in.</p>
                            <p>Game over!</p><input @click="startOver" ref="start" type="button" value="Login Again!" />
                        </div>
                    </transition>
                </div>
            </div>

        </div>
    </div>
    <script src="./studyTypeScript.js"></script>
    <script src="./PacmanLogin/login.js"></script>
</body>

</html>